<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <link rel="stylesheet" href="app.css"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="contact.css"> {% endcomment %}
    <!-- <link rel="stylesheet" href="order.css"> -->
    <title>happyfarm</title>
      <link rel="stylesheet" href="{% static "css/app.css" %}" > 
    {% comment %} <link rel="stylesheet" href="app.css"> {% endcomment %}
    
    
</head>
<body>
    <!-- NAVIGATION SECTION -->
    <nav class="navbar">
        
            <div class="logo"><h1><a href="#">HAPPY FARM</a></h1></div>
                <ul class="nav ">
                    <li ><a href="order.html" id="cta2">Order Now</a></li>
                    <li class="new"><a href="contact.html">Contact</a></li>
                    <li class="new"><a href="about.html">About Us</a></li>
                </ul>
        

    </nav>
<!-- HERO SECTION -->

    <header class="header">
        <div class="container">
            <h1>Welcome To</h1>
             <p> HAPPY FARM  an innovative snail farm  
            that intergrates sustainable farm
            practices to provide the best of quality 
            products to our  customers at affortable prices.
            Our Mission is to provide quality snails at very affortable prices and to assure all year around supply and
            Our vision is to make sure we provide the best of the best products and services at the reach of our customers.
            <!-- need something -->
                      
            
        </div>
    </header>

    <main>

        <!-- CTA SECTION -->
        <section class="boxes">
            <h2>Our products are carefully raised to meet all your demand without harming the Echo-system and environment</h2>
                <div class="container1">

                        <div class="animation">
                            <img  class="img" src="images/stocks (1).jpg" alt="HAPPY">
                           <div class="price">
                            <p class="detail">
                                AMO Giant Specie Jumbo snail
                            </p>
                               <p>1,000 XAF</p>
                           </div>
                                <button type="submit" class="btn">Order Now</button>
                        </div>

                        <div class="animation">
                            <img  class="img" src="images/stocks (1).jpg" alt="HAPPY">
                            <div class="price">
                                <p class="detail">
                                    AMO Giant Specie Jumbo snail
                                </p>
                                   <p>1,000 XAF</p>
                               </div>
                                <button type="submit" class="btn">Order Now</button>
                            
                        </div>

                        <div class="animation">
                            <img  class="img" src="images/stocks (1).jpg" alt="HAPPY">
                            <div class="price">
                                <p class="detail">
                                    AMO Giant Specie Jumbo snail
                                </p>
                                   <p>1,000 XAF</p>
                               </div>
                                <button type="submit" class="btn">Order Now</button>
                            
                        </div>
                        

                        <div class="animation" >
                            <img  class="img" src="images/stocks (1).jpg" alt="HAPPY">
                            <div class="price">
                                <p class="detail">
                                    AMO Giant Specie Jumbo snail
                                </p>
                                   <p>1,000 XAF</p>
                               </div>
                            <button type="submit" class="btn">Order Now</button>
                        
                        </div>
                            
                        <div  class="animation">
                            <img  class="img" src="images/stocks (1).jpg" alt="HAPPY">
                            <div class="price">
                                <p class="detail">
                                    AMO Giant Specie Jumbo snail
                                </p>
                                   <p>1,000 XAF</p>
                               </div>
                                <button type="submit" class="btn">Order Now</button>
                            
                        </div>

                        <div class="animation">
                            <img  class="img" src="images/stocks (1).jpg" alt="HAPPY">
                            <div class="price">
                                <p class="detail">
                                    AMO Giant Specie Jumbo snail
                                </p>
                                   <p>1,000 XAF</p>
                               </div>
                                <button type="submit" class="btn">Order Now</button>
                            
                        </div>

                        <div class="animation" >
                            <img  class="img" src="images/stocks (1).jpg" alt="HAPPY">
                            <div class="price">
                                <p class="detail">
                                    AMO Giant Specie Jumbo snail
                                </p>
                                   <p>1,000 XAF</p>
                               </div>
                                <button type="submit" class="btn">Order Now</button>
                            
                        </div>

                        

                        <div class="animation">
                            <img  class="img" src="images/stocks (1).jpg" alt="HAPPY">
                            <div class="price">
                                <p class="detail">
                                    AMO Giant Specie Jumbo snail
                                </p>
                                   <p>1,000 XAF</p>
                               </div>
                                <button type="submit" class="btn">Order Now</button>
                            
                        </div>

                        <div class="animation">
                            <img  class="img" src="images/stocks (1).jpg" alt="HAPPY">
                            <div class="price">
                                <p class="detail">
                                    AMO Giant Specie Jumbo snail
                                </p>
                                   <p>1,000 XAF</p>
                               </div>
                                <button type="submit" class="btn">Order Now</button>
                            
                        </div>
                        
                    
                        <div  class="animation">
                            <img class="img"  src="images/stocks (1).jpg" alt="HAPPY">
                            <div class="price">
                                <p class="detail">
                                    AMO Giant Specie Jumbo snail
                                </p>
                                   <p>1,000 XAF</p>
                               </div>
                                <button type="submit" class="btn">Order Now</button>
                            
                        </div>
                        
                    
                
                        
                        
                        <div class="animation" >
                            <img class="img"  src="images/stocks (2).jpg" alt="HAPPY">
                            <div class="price">
                                <p class="detail">
                                    AMO Giant Specie Jumbo snail
                                </p>
                                   <p>1,000 XAF</p>
                               </div>
                                <button type="submit" class="btn">Order Now</button>
                            
                        </div>
                        
                        
                    
                        
                            
                        <div  class="animation">
                            <img class="img"  src="images/stocks (2).jpg" alt="HAPPY">
                            <div class="price">
                                <p class="detail">
                                AMO Giant Specie Jumbo snail
                                </p>
                                   <p>1,000 XAF</p>
                               </div>
                                <button type="submit" class="btn">Order Now</button>
                            
                        </div>
                        
                    
                </div>
        </section>

        <section class="action">
            <h3>Enjoy our rich cultivating practices and view points</h3>
            
           <div class="cta-column">
            <div class="call-to-action animation">
                 
                <p>
                    Our well crafted farm practices makes a good conditions for our snails providing us
                   with all year round supply and also making us to meet demand at affortable rates.
                  
                </p>
                
                  
            </div>

            <div class="call-to-action animation">
                 
                <p>
                    Our well crafted farm practices makes a good conditions for our snails providing us
                   with all year round supply and also making us to meet demand at affortable rates.
                  
                </p>
                
                  
            </div>
            <div class="call-to-action animation">
                
                <p>
                    Our well crafted farm practices makes a good conditions for our snails providing us
                   with all year round supply and also making us to meet demand at affortable rates.
                  
                </p>
                
                  
            </div>

            <div class="call-to-action animation">
                 
                <p>
                    Our well crafted farm practices makes a good conditions for our snails providing us
                   with all year round supply and also making us to meet demand at affortable rates.
                  
                </p>
                
                  
            </div>

            <div class="call-to-action animation">
                 
                <p>
                    Our well crafted farm practices makes a good conditions for our snails providing us
                   with all year round supply and also making us to meet demand at affortable rates.
                  
                </p>
                
                  
            </div>

            <div class="call-to-action animation">
                
                <p>
                    Our well crafted farm practices makes a good conditions for our snails providing us
                   with all year round supply and also making us to meet demand at affortable rates.
                  
                </p>
                
                  
            </div>

            

           </div>
        </section>

           <!-- CONTACT FORM -->

    <section class="contact">
        <div class="infor">
            <div class="infor-contact">
                <ul>
                    
                    <li>
                        <div class="infor-line">
                            <div class="icon">
                                <img src="images/background.jpg" width="100px" alt="">
                            </div>
                            <div class="contact-line">
                                <h5>Hotline</h5>
                                <p>+237 672088918</p>
                            </div>
                            
                        </div>
                    </li>

                    <li>
                        <div class="infor-line">
                            <div class="icon">
                                <img src="images/background.jpg" width="100px" alt="">
                            </div>
                            <div class="contact-line">
                                <h5>Whatsapp</h5>
                                <p>672088918</p>
                            </div>
                            
                        </div>
                    </li>

                    <li>
                        <div class="infor-line">
                            <div class="icon">
                                <img src="images/background.jpg" width="100px" alt="">
                            </div>
                            <div class="contact-line">
                                <h5>Email</h5>
                                <p>rexbabitong@gmail.com</p>
                            </div>
                            
                        </div>
                    </li>

                    <li>
                        <div class="infor-line">
                            <div class="icon">
                                <img src="images/background.jpg" width="100px" alt="">
                            </div>
                            <div class="contact-line">
                                <h5>Address</h5>
                                <p>West Coast Isongo Cameroon</p>
                            </div>
                            
                        </div>
                    </li>
                    
                </ul>
            </div>
        </div>
        <div class="contact-form">
           
            <form action="https://formspree.io/f/mrbqeazz" method="post">
                <h1>Message Us</h1>
                <p>For all inquiries regarding our snail farming, purchase
                    of our products or how you can be part of our project,kindly
                    fill this form below and send.
                </p>
                <label for="name">Name</label>
                <input type="text" id="name" name="customer_name" placeholder="babitong rex">

                <label for="email">Email</label>
                <input type="email" id="email" name="customer_email" placeholder="babitongrex@gmail.com">

                <label for="name">Phone Number</label>
                <input type="text" id="name" name="customer_phone" placeholder="672088918">

                <label for="message">Message</label>
                <textarea name="customer_message" id="message" placeholder="message"></textarea>

                <button type="submit" class="btn">Send</button>




            </form>
        </div>
    </section>


       
    </main>

    <!--  footer section -->
    <footer>
        
            <h2>Contact Us</h2>
            <ul class="footer-links">
                <li>Tel +237 672088918</li>
                <li>rexbabitong@gmail.com</li>
                <li>Cameroon South West Limbe Isongo</li>
                
                
            </ul>
            
            <div class="footer">
                <h2>Quick links</h2>
                <ul class="footer-links">
                    <li>instagram</li>
                    <li>facebook</li>
                    <li>youtube</li>
                    
                </ul>
                
            </div>
            <form action="https://formspree.io/f/mrbqeazz" method="post">
                <h3>Subcribe To Our Newsletter</h3>
                <label for="email">Email Address</label>
                <input type="email" id="email" name="customer_email" placeholder="please enter your email" required>
                <button class="btn" type="submit">Submit</button>
            </form>

        <div class="p">
            <p>©2025 my website</p>
            <p>created by Babitong rex Makia II</p>
        </div>
       
    </footer>
</body>
</html>